@media screen and (max-width: 992px) {
    /* MOBILE NAV */
    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: flex;
    }



    /* MOBILE PROFILE */
    #profile {
        /* display: block; */
    }

    .profile-pic-container {
        display: flex;
        justify-content: center;
        height: 260px;
        width: auto;
        margin-bottom: 3.5%;
    }

    .profile-text-container {
        margin-left: 1rem;
        margin-right: 1rem;
        padding-bottom: 3vh;
        padding-top: 2vh;
    }



    /* MOBILE ABOUT */
    .about-header {
        margin-left: 0;
    }

    .outer-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #intro {
        margin: 0;
        font-size: medium;
    }

    .horizontal-container, .overview-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: .5rem;
    }

    /* MOBILE EXPERIENCE */
    .experience-inner-container {
        display: block;
        text-align: center;
    }

    .experience-inner-container p {
        margin: 1rem;
        border-radius: 20px;
    }

    .experience-inner-container h5, .experience-inner-container h3{
        text-decoration: underline;
    }


}