

/* MOBILE MENU */
#mobile-nav {
    display: none;
}

.mobile-menu {
    position: relative;
    display: block;
}

.mobile-links {
    position: absolute;
    top: 100%;
    right: 0%;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
}

.mobile-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    /* color: var(--dark-pink); */
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.mobile-links li {
    list-style: none;
}

.mobile-links li:hover {
    text-decoration: underline;
    text-decoration-color: var(--dark-pink);
}

#mobile-dropdown.open {
    z-index: 10;
    max-height: 50vh;
    width: 40vh;
    background-color: var(--shear-pink);
    border-radius: 30px;
    /* border: var(--dark-pink) 0.1rem solid; */
    border: black 0.1rem solid;
}


/* HAMBURGER ICON */
.mobile-icon {
    transform: translate(-50%, -50%);
    /*position: absolute;*/
    display: inline-block;
    /*height: 12px;
    width: 25px;*/
    height: 24px;
    width: 50px;
    cursor: pointer;
}

.mobile-icon:before,
.mobile-icon:after,
.mobile-icon div {
    /* background-color: var(--dark-pink); */
    background-color: black;
    content: "";
    display: block;
    height: 5px;
    margin: 7px 7px;
    transition: 0.5s;
}

#mobile-hamburger.open::before {
    transform: translateY(12px) rotate(135deg);
}
#mobile-hamburger.open::after {
    transform: translateY(-12px) rotate(-135deg);
}
#mobile-hamburger.open div {
    transform: scale(0);
}


/* MOBILE VIEW */
@media screen and (max-width: 992px) {
    /* MOBILE NAV */
    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: flex;
    }

    section {
        display: flex;
        height: 115vh;
    }

    .outer-container {
        /* height: 100vh;
        width: 100vw; */
        display: flex;
        border: solid blue 4px;
        /* padding: 5%; */

        /* margin-left: 1rem;
        margin-right: 1rem; */
    }


    /* MOBILE PROFILE */
    #profile {
        /* display: block; */
        display: flex;
        flex-direction: column;
    }

    /* border: 2px solid black; */
    /* height: 100vh; */


    /* .profile-pic-container {
        display: flex;
        justify-content: center;
        height: 260px;
        width: auto;
        margin-bottom: 3.5%;
    }

    .profile-text-container {
        margin-left: 1rem;
        margin-right: 1rem;
        padding-bottom: 3vh;
        padding-top: 2vh;
    } */

  
    /* MOBILE ABOUT */
    #intro {
        margin: 0;
        font-size: medium;
    }

    .overview-container {
        margin: 1.5rem;
    }

    .horizontal-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0rem;
    }

    .text-outline {
        border-radius: 30px;
        padding: 10%;
        border: black 0.1rem solid;
    }


    /* MOBILE EXPERIENCE */
    .experience-inner-container {
        /* display: block; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .experience-desc {
        display: none;
       
    }

    .experience-titles {
        /* display: flex; */
        align-items: center;
        justify-content: center;
    }

    .read-more-icon {
        display: flex;
        height: 2rem;
    }
    

    /* .experience-inner-container h5, .experience-inner-container h3{
        text-decoration: underline;
    } */


}