/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --dark-pink: #E3826F;
    --medium-pink: #E4A9A4;
    --orange: #EFBA97;
    --light-pink: #F1CCBB;
    --extra-light-pink: #fff0ef;
    --skin: #E7D5C7;

    --shear-pink: rgba(255,240,239,.85);
    --shadow: rgba(0,0,0,.8);
    --light-shadow: rgba(0,0,0,.5);
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: "Poppins", sans-serif;
    /*background-color: var(--extra-light-pink);*/
}

html {
    scroll-behavior: smooth;
}



/* TRANSITION */
a, .btn {
    transition: all 300ms ease;
}



/* BUTTONS */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
}

.btn {
    font-weight: 600;
    transition:  all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    /* color: var(--dark-pink); */
    /* background-color: var(--extra-light-pink); */
    /* border: var(--dark-pink) 0.1rem solid; */

    background-color: var(--medium-pink);
}

.btn:hover {
    cursor: pointer;
    /* color: white; */
    /* background-color: var(--dark-pink); */
    /* border: var(--dark-pink) 0.1rem solid; */
    box-shadow: .5vh .5vh 1.5vh 0 var(--shadow);
    transform: scale(1.05);
}



/* DESKTOP NAV */
a {
    /* color: var(--dark-pink); */
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    font-size: large;
}

a:hover {
    /* color: var(--medium-pink); */
    text-decoration: underline;
    /* text-decoration-color: var(--medium-pink); */
}

nav {
    display: flex;
    background-color: var(--extra-light-pink);
    border-radius: 30px;
    box-shadow: .5vh .5vh 1.5vh 0 var(--light-shadow);
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    margin: 1.5%; 
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

#desktop-nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem;
}

/* MOBILE MENU */
#mobile-nav {
    display: none;
}

.mobile-menu {
    position: relative;
    display: block;
}

.mobile-links {
    position: absolute;
    top: 100%;
    right: 0%;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
}

.mobile-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    /* color: var(--dark-pink); */
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.mobile-links li {
    list-style: none;
}

.mobile-links li:hover {
    text-decoration: underline;
    text-decoration-color: var(--dark-pink);
}

#mobile-dropdown.open {
    z-index: 10;
    max-height: 50vh;
    width: 40vh;
    background-color: var(--shear-pink);
    border-radius: 30px;
    border: var(--dark-pink) 0.1rem solid;
}

#blur-container.blur {
    filter: blur(5px);
}



/* HAMBURGER ICON */
.mobile-icon {
    transform: translate(-50%, -50%);
    /*position: absolute;*/
    display: inline-block;
    /*height: 12px;
    width: 25px;*/
    height: 24px;
    width: 50px;
    cursor: pointer;
}

.mobile-icon:before,
.mobile-icon:after,
.mobile-icon div {
    background-color: var(--dark-pink);
    content: "";
    display: block;
    height: 5px;
    margin: 7px 7px;
    transition: 0.5s;
}

#mobile-hamburger.open::before {
    transform: translateY(12px) rotate(135deg);
}
#mobile-hamburger.open::after {
    transform: translateY(-12px) rotate(-135deg);
}
#mobile-hamburger.open div {
    transform: scale(0);
}



/* SECTION */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1.5%;

    /* border: 2px solid black; */
    height: 100vh;
}

.outer-container {
    display: flex;
    flex-direction: column;
   
    border-radius: 30px;
    box-shadow: .5vh .5vh 1.5vh 0 var(--light-shadow);

    height: 100%;
    width: 100%;

    justify-content: center; /* horizontal */
    align-items: center;  /* vertical */
}



/* PROFILE  SECTION*/
#desktop-pic {
    border-radius: 30px;
    box-shadow: .5vh .5vh 1.5vh 0 var(--light-shadow);
}

#github-icon:hover, #linkedin-icon:hover {
    cursor: pointer;
    border-radius: 20px;
    box-shadow: .5vh .5vh 1.5vh 0 var(--shadow);
    transform: scale(1.05);
}

.icon {
    height: 2.5rem;
}

#profile {
    /* color: var(--extra-light-pink); */
}

#socials-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.title {
    font-size: 2.5rem;
    /* text-align: center; */
    /* padding-bottom: 1.5rem; */
}



/* ABOUT SECTION*/
#about {
    /* color: var(--dark-pink); */
}

.about-header {
    margin-left: 1rem;
}

.overview-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* horizontal */
    align-items: center;  /* vertical */
    text-align: center;
    margin: 2.5rem;
     
}

.horizontal-container {
    display: flex;
    /* align-items: center; */
    align-items: center;
    justify-content: center;
    /* margin-bottom: 1rem; */
}

.text-outline {
    border-radius: 30px;
    /* padding: 5%; */
    border: black 0.1rem solid;

    width: 40vw;
    height: 20vh;
}

#intro {
    /* margin: 3rem; */
    font-weight: normal;
    font-size: large;
}



/* EXPERIENCE SERCTION */
#experience {
    /* display: flex; */
    /* text-align: center; */
}

.experience-inner-container {
    display: flex;
    justify-self: center;
    border-radius: 30px;
    background-color: var(--extra-light-pink);
    margin: 1.5rem;
    padding: 2.5%;
    gap: 2rem;
    width: 80%;
}


.experience-inner-container:hover {
    cursor: pointer;
    transition:  all 300ms ease;
    transform: scale(1.025);
    box-shadow: .5vh .5vh 1.5vh 0 var(--light-shadow);
}

.experience-titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.experience-desc {
    margin-left: auto
}

.dialog {
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* text-align: center; */
    border-radius: 30px;
    cursor: default;

    height: 80vh;
    width: 70vw;
    background-color: var(--extra-light-pink);
    outline: none;
    color: black;

    /* color: var(--dark-pink); */
}

.dialog li {
    display: list-item;
    list-style-type: disc;
    margin: 0px;
    color: black;
}

.dialog-container {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}

.dialog-bullets{
    margin: 2rem;
}

.dialog-btn {
    justify-self: center;
    margin-bottom: 1.5rem;
    outline: none;
}
#close-zetron-dialog:hover, #close-INO-dialog:hover, #close-nrc-dialog:hover {
    cursor: pointer;
}

.read-more-icon {
    height: 2rem;
    margin-left: auto;
    align-self: flex-start;
}

/* PROJECTS SECTION */
#projects {
    /* display: block; */
    /* display: flex; */
}



/* CONTACT SERCTION */
#contact {
    /* display: block; */
    /* display: flex; */
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
    margin: 3rem;
}

.contact-text {
    resize: none;
    font-size: 16px;
    width: 100%;
}

.contact-text:focus {
    outline: 1.5px solid var(--dark-pink);
}

.err-msg {
    text-align: left;
    color: red;
    visibility: hidden;
}




/* FOOTER */
.footer {
    /* color: var(--dark-pink); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

#top {
    margin-left: auto;
    margin-right: 1rem;
    cursor: pointer;
}

#top:hover {
    /* color: var(--medium-pink); */
    text-decoration: underline;
    /* text-decoration-color: var(--medium-pink); */
}
