/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --dark-pink: #E3826F;
    --medium-pink: #E4A9A4;
    --orange: #EFBA97;
    --light-pink: #F1CCBB;
    --medium-light-pink: #ffd6d3;
    /* --extra-light-pink: #fff0ef; */

    --extra-light-pink: #fde2e0;

    --skin: #E7D5C7;

    --shear-pink: rgba(255,240,239,.85);
    --shadow: rgba(0,0,0,.8);
    --light-shadow: rgba(0,0,0,.5);

    --black-outline: black 0.1rem solid;

    --font-small: 0.75rem;
    --font-header: 1.25rem;
    --font-size-base: 1rem;
    --font-size-subtitle: 1.5rem;
    --font-size-title: 2.5rem;
    
    --font-bold: 700;

    --mobile-font-base: 0.75rem;
    --mobile-font-title: 2rem;
    --mobile-font-subtitle: 1rem;

}

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-base);
}

html {
    scroll-behavior: smooth;
}

a:link, a:visited, a:hover, a:active {
  color: black; /* or use the hex code #000000 */
}

.subtitle {
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-bold);
}

.title {
    font-size: var(--font-size-title);
    font-weight: var(--font-bold);
}

.header {
    font-size: var(--font-header);
    font-weight: var(--font-bold);
}

.body-bold {
    font-weight: var(--font-bold);
}

.body-small {
    font-size: var(--font-small);
}

/* TRANSITION */
a, .btn {
    transition: all 300ms ease;
}


/* BUTTONS */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
}

.btn {
    font-size: var(--font-size-base);
    transition:  all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    background-color: var(--extra-light-pink);
    border: var(--black-outline);
}

.btn:hover {
    cursor: pointer;
    box-shadow: .5vh .5vh 1.5vh 0 var(--shadow);
    transform: scale(1.05);
}

/* FOOTER AND HEADER BAR */
.basic-bar {
    display: flex;
    background-color: var(--extra-light-pink);
    border-radius: 30px;
    box-shadow: .5vh .5vh 1.5vh 0 var(--light-shadow);
    align-items: center;
    height: 10vh;
    margin: 1.5%;
}


/* DESKTOP NAV */
a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    text-decoration: underline;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

#desktop-nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem;
}

#blur-container.blur {
    filter: blur(5px);
}


/* SECTION */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1.5%;
    height: 100vh;
}

.outer-container {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: .5vh .5vh 1.5vh 0 var(--light-shadow);
    height: 100%;
    width: 100%;
    justify-content: center; 
    align-items: center; 
}


/* PROFILE  SECTION*/
.profile-name-outer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 60vw;
    height: 40vw;          keeps aspect ratio */
    
    background-color: var(--extra-light-pink);
    border-radius: 30px;

    /* height: 90%;
    width: 80%; */

    height: 50vh;
    width: 40vw;

    margin-top: 2.5rem;
}

.profile-name-inner {
    background-color: var(--medium-pink);
    border-radius: 30px;
    margin-top: 2.5rem;
    /* width: 70%;
    height: 60%;
   transform: scale(0.8); */

   display: flex;
   height: 50vh;
   width: 40vw;
}

#github-icon:hover, #linkedin-icon:hover {
    cursor: pointer;
    box-shadow: .5vh .5vh 1.5vh 0 var(--shadow);
    transform: scale(1.05);
    border-radius: 30px;
}

.icon {
    height: 2.5rem;
}

.icon-large {
    height: 3.5rem;
}

.socials-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}


/* ABOUT SECTION*/
.overview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2.5rem;
}

.horizontal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.text-outline {
    border-radius: 30px;
    cursor: default;
    border: var(--black-outline);
    width: 40vw;
    height: 20vh;
}


/* EXPERIENCE SERCTION */
#experience {
    height: 100%;
}

.experience-btn {
    display: none;
}

.experience-inner-container {
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: var(--extra-light-pink);
    margin: 1.5rem;
    padding: 2.5%;
    gap: 2rem;
    /* width: 85%; */
    height: 12vh;
    border: var(--black-outline);
}

.experience-inner-container:hover {
    cursor: pointer;
    transition:  all 300ms ease;
    transform: scale(1.025);
    box-shadow: .5vh .5vh 1.5vh 0 var(--light-shadow);
}

.experience-headers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.experience-desc {
    display: flex;
    width: 50%; 
    margin-left: auto;
    margin-right: 0;
}

.dialog {
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 30px;
    cursor: default;

    height: 80vh;
    width: 70vw;
    background-color: var(--extra-light-pink);
    outline: none;

    border: var(--black-outline);
}

.dialog li {
    display: list-item;
    list-style-type: disc;
    margin: 0px;
    color: black;
}

.dialog-container {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}

.dialog-bullets{
    margin: 2rem;
}

.dialog-btn {
    justify-self: center;
    margin-bottom: 1.5rem;
    outline: none;
}
#close-zetron-dialog:hover, #close-INO-dialog:hover, #close-nrc-dialog:hover {
    cursor: pointer;
}


/* PROJECTS SECTION */
#projects {
    height: 100%;
}

.projects-grid-outer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 1.5rem;
}

.projects-grid-item {
    background-color: var(--medium-pink);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border: var(--black-outline);
    border-radius: 30px;
    cursor: default;
    height: 45vh;
}

.projects-desc {
    margin-top: auto;
}

/* CONTACT SECTION */
#contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
    margin: 3rem;
}

.contact-text {
    resize: none;
    width: 100%;
}

.contact-text:focus {
    outline: 1.5px solid var(--dark-pink);
}

.err-msg {
    text-align: left;
    color: red;
    visibility: hidden;
}


/* FOOTER */
.footer {
    justify-content: center;
}

#top {
    margin-left: auto;
    cursor: pointer;
    padding-right: 4rem;
}

#top:hover {
    text-decoration: underline;
}
